<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yedidim Call Center</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="manifest.json">
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico?v1'/>
  <!--<link rel="apple-touch-icon" href="apple-touch-icon.png?v2">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth.css" />
</head>
<body>
<div id="app"></div>
</body>
</html>
