{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"]
      }
    ],
    [
      "react-intl",
      {
        "messagesDir": "./i18n/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
