node_modules/
.expo/
npm-debug.*
i18n/messages
.tmp

.idea/
/functions/_tokens.json
/webApp/dist/
./npm-debug.log
/functions/npm-debug.log
/volunteers-app/android/build
/volunteers-app/android/app/build
/volunteers-app/android/local.properties
/volunteers-app/android/.gradle
/app/android/build
/app/android/app/build
/app/android/local.properties
/app/android/.gradle

functions/handlers/sendExpoFollowerNotification.js
functions/config/index.js
functions/lib/onesignal.js