<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ידידים מתנדבים</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.startach.yedidim.volunteers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ידידים מתנדבים</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yddmva</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>OAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.startach.yedidim.volunteers</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>81130e95ea13cd7ed9a4f455e96214902c721c99</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow ידידים מתנדבים to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow ידידים מתנדבים to use your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow ידידים מתנדבים to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This allow us to track your location in the background so we could send notifications to you about events closer to your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This allow us to track your location in the background so we could send notifications to you about events closer to your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This allow us to use your location to be able to notify you about events close to your location and show more relevant events to you in the home screen, making them more actionable</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow ידידים מתנדבים to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>This allow us to track your location in the background so we could send notifications to you about events closer to your location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give ידידים מתנדבים permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give ידידים מתנדבים permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow ידידים מתנדבים to access your reminders</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
